---
layout: default
---

<div class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  <span class="post-date">{{ page.date | date_to_string }}</span>
  {{ content }}
</div>

<div class="related">
  <h2>Comments? Questions?</h2>
  <p>If you have thoughts to share, <a href=/about>reach out</a>.</p>
</div>

<div class="related">
  <form action="https://app.nouri.sh/campaigns/7001/subscribe" method="post">
  <input type="hidden" name="notify_them" value="1"/>

  <label>Want a weekly digest of my posts? I will never spam you.</label><br />
  <input id="subscriber[email]" name="subscriber[email]" type="text" /><br />
  <input name="commit" type="submit" value="Subscribe" />
</form>
</div>
